# Queries on Contributors' dataset with Scala programming language
## Student: Pablo Benayas

# Import libraries, define dataset columns and load csv

In [1]:
import org.apache.spark.sql.functions._

Intitializing Scala interpreter ...

Spark Web UI available at http://DESKTOP-UBTP06G:4040
SparkContext available as 'sc' (version = 2.4.4, master = local[*], app id = local-1594963453050)
SparkSession available as 'spark'

import org.apache.spark.sql.functions._

In [2]:
case class Contributor(
                    age: Int,
                    workclass: String,
                    education: String,
                    educationNum: Int,
                    maritalStatus: String,
                    occupation: String,
                    relationship: String,
                    race: String,
                    sex: String,
                    capitalGain: Int,
                    capitalLoss: Int,
                    hoursPerWeek: Int,
                    nativeCountry: String,
                    income: String
                  )

defined class Contributor

In [3]:
import scala.io.Source.fromFile

def readFile(fichero: String): Seq[Contributor] = {

    def getDefaultInt(v: String, d: Int) = if (v.isEmpty()) d else v.toInt

    var i: Int = 0
    var rows: Seq[Contributor] = Seq.empty
    for (l <- fromFile(fichero).getLines()){
      if (i > 0) {
        val Array(age, workclass, education, educationNum, maritalStatus, occupation, relationship, race, sex, capitalGain, capitalLoss, hoursPerWeek, nativeCountry, income) =  l.split(",")
        rows = rows ++ Seq(Contributor(
          age = getDefaultInt(age, 0),
          workclass = workclass.replace("\"", ""),
          education = education.replace("\"", ""),
          educationNum = getDefaultInt(educationNum, 0),
          maritalStatus = maritalStatus.replace("\"", ""),
          occupation = occupation.replace("\"", ""),
          relationship = relationship.replace("\"", ""),
          race = race.replace("\"", ""),
          sex = sex.replace("\"", ""),
          capitalGain = getDefaultInt(capitalGain, 0),
          capitalLoss = getDefaultInt(capitalLoss, 0),
          hoursPerWeek = getDefaultInt(hoursPerWeek, 0),
          nativeCountry = nativeCountry.replace("\"", ""),
          income = income.replace("\"", ""))) 
      }
      else {
        i += 1
      }
    }
    rows
}

import scala.io.Source.fromFile
readFile: (fichero: String)Seq[Contributor]

# How many rows does dataset have?

In [4]:
val dataset = readFile(fichero = "adult.data.clean.csv") 

// 1ST METHOD
val total_rows = dataset.length
println(s"This dataset has ${total_rows} rows")

This dataset has 32561 rows

dataset: Seq[Contributor] = List(Contributor(39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K), Contributor(50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K), Contributor(38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K), Contributor(53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K), Contributor(28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K), Contributor(37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K), Contributor(49,Private,9th,5,Married-spouse-absent,Other-serv...

In [5]:
val dataset = readFile(fichero = "adult.data.clean.csv") 

// 2ND METHOD
val total_rows = dataset.toDF().count() 
println(s"This dataset has ${total_rows} rows")

This dataset has 32561 rows

dataset: Seq[Contributor] = List(Contributor(39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K), Contributor(50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K), Contributor(38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K), Contributor(53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K), Contributor(28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K), Contributor(37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K), Contributor(49,Private,9th,5,Married-spouse-absent,Other-serv...

# Mean age including age=0

In [6]:
// 1ST METHOD
var filtered_data = dataset.map(_.age)
val mean_age_with_zeros = filtered_data.sum.toDouble / filtered_data.length.toDouble
println(mean_age_with_zeros)

38.58164675532078

filtered_data: Seq[Int] = List(39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 37, 30, 23, 32, 40, 34, 25, 32, 38, 43, 40, 54, 35, 43, 59, 56, 19, 54, 39, 49, 23, 20, 45, 30, 22, 48, 21, 19, 31, 48, 31, 53, 24, 49, 25, 57, 53, 44, 41, 29, 25, 18, 47, 50, 47, 43, 46, 35, 41, 30, 30, 32, 48, 42, 29, 36, 28, 53, 49, 25, 19, 31, 29, 23, 79, 27, 40, 67, 18, 31, 18, 52, 46, 59, 44, 53, 49, 33, 30, 43, 57, 37, 28, 30, 34, 29, 48, 37, 48, 32, 76, 44, 47, 20, 29, 32, 17, 30, 31, 42, 24, 38, 56, 28, 36, 53, 56, 49, 55, 22, 21, 40, 30, 29, 19, 47, 20, 31, 35, 39, 28, 24, 38, 37, 46, 38, 43, 27, 20, 49, 61, 27, 19, 45, 70, 31, 22, 36, 64, 43, 47, 34, 33, 21, 52, 48, 23, 71, 29, 42, 68, 25, 44, 28, 45, 36, 39, 46, 18, 66, 27, 28, 51, 27, 28, 27, 21, 34, 18, 33, 44, 43, 30, 40, 37, 34, 41, 53, 31, 58, 38, 24...

In [7]:
// 2ND METHOD
val mean_age_with_zeros = dataset.toDF().agg(round(mean("age"),3).alias("mean age including zeros"))
println(mean_age_with_zeros.show())

+------------------------+
|mean age including zeros|
+------------------------+
|                  38.582|
+------------------------+

()

mean_age_with_zeros: org.apache.spark.sql.DataFrame = [mean age including zeros: double]

# Mean age WITHOUT age=0

In [8]:
// 1ST METHOD
var filtered_data = dataset.filter(x => x.age > 0).map(_.age)
val mean_age_without_zeros = filtered_data.sum.toDouble / filtered_data.length.toDouble
println(mean_age_without_zeros)

38.58164675532078

filtered_data: Seq[Int] = List(39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 37, 30, 23, 32, 40, 34, 25, 32, 38, 43, 40, 54, 35, 43, 59, 56, 19, 54, 39, 49, 23, 20, 45, 30, 22, 48, 21, 19, 31, 48, 31, 53, 24, 49, 25, 57, 53, 44, 41, 29, 25, 18, 47, 50, 47, 43, 46, 35, 41, 30, 30, 32, 48, 42, 29, 36, 28, 53, 49, 25, 19, 31, 29, 23, 79, 27, 40, 67, 18, 31, 18, 52, 46, 59, 44, 53, 49, 33, 30, 43, 57, 37, 28, 30, 34, 29, 48, 37, 48, 32, 76, 44, 47, 20, 29, 32, 17, 30, 31, 42, 24, 38, 56, 28, 36, 53, 56, 49, 55, 22, 21, 40, 30, 29, 19, 47, 20, 31, 35, 39, 28, 24, 38, 37, 46, 38, 43, 27, 20, 49, 61, 27, 19, 45, 70, 31, 22, 36, 64, 43, 47, 34, 33, 21, 52, 48, 23, 71, 29, 42, 68, 25, 44, 28, 45, 36, 39, 46, 18, 66, 27, 28, 51, 27, 28, 27, 21, 34, 18, 33, 44, 43, 30, 40, 37, 34, 41, 53, 31, 58, 38, 24...

In [9]:
// 2ND METHOD
val mean_age_without_zeros = dataset.toDF().select("age").where("age > 0").agg(round(mean("age"),3).alias("mean age without age=0"))         
println(mean_age_without_zeros.show())

+----------------------+
|mean age without age=0|
+----------------------+
|                38.582|
+----------------------+

()

mean_age_without_zeros: org.apache.spark.sql.DataFrame = [mean age without age=0: double]

# Proof there are no zeros

In [10]:
// 1ST METHOD
val age_zero = dataset.filter(x => x.age == 0).length

age_zero: Int = 0

In [11]:
// 2ND METHOD
val age_zero = dataset.toDF().where("age == 0").count()
println(s"there are ${age_zero} rows with zero as age")

there are 0 rows with zero as age

age_zero: Long = 0

# 4. How many different countries are contributors from?

In [12]:
// 1ST METHOD
val different_countries = dataset.map(_.nativeCountry).distinct.length

different_countries: Int = 42

In [13]:
// 2ND METHOD
val different_countries = dataset.toDF().select("nativeCountry").distinct().count()
println(s"contributors come from ${different_countries} different countries")

contributors come from 42 different countries

different_countries: Long = 42

# 5. Percentage of contributors by gender.

In [9]:
dataset.map(_.sex).distinct

res5: Seq[String] = List(Male, Female)

In [14]:
// 1ST METHOD
println(dataset.filter(x => x.sex == "Male").length + dataset.filter(x => x.sex == "Female").length == dataset.length)  

val total_rows: Double = dataset.length

val filter_male: Double = dataset.filter(x => x.sex == "Male").length
val male_pct: Double = BigDecimal(filter_male/total_rows*100).setScale(3, BigDecimal.RoundingMode.HALF_UP).toDouble 

val filter_female: Double = dataset.filter(x => x.sex == "Female").length
val female_pct: Double = BigDecimal(filter_female/total_rows*100).setScale(3, BigDecimal.RoundingMode.HALF_UP).toDouble 

println(s"${male_pct} % of contributors are male") 
println(s"${female_pct} % of contributors are female")

true
66.921 % of contributors are male
33.079 % of contributors are female

total_rows: Double = 32561.0
filter_male: Double = 21790.0
male_pct: Double = 66.921
filter_female: Double = 10771.0
female_pct: Double = 33.079

In [16]:
// 2ND METHOD
dataset.toDF().groupBy("sex").count().withColumn("gender_rate", round(col("count")/dataset.toDF().count(),3)).sort(col("gender_rate").desc).show()

+------+-----+-----------+
|   sex|count|gender_rate|
+------+-----+-----------+
|  Male|21790|      0.669|
|Female|10771|      0.331|
+------+-----+-----------+

In [11]:
// val x: Double = dataset.filter(x => x.sex == "Male").length 
// val y: Double = dataset.length 
// (x/y).round

In [12]:
// import scala.math.BigDecimal
// val x: Double = filter_male/total_rows*100
// BigDecimal(x).setScale(3, BigDecimal.RoundingMode.HALF_UP).toDouble

# 6. Which job generates on average >50K as annual income?

In [13]:
val more_50K = dataset.toDF().where("income = '>50K'").groupBy("workclass").count()//.sort(col("count").desc).show(1)
val total = dataset.toDF().groupBy("workclass").count() 
val more_50K_2 = more_50K.select(col("workclass"), col("count").alias("count_>50K"))
val total_2 = total.select(col("workclass").alias("workclass2"), col("count").alias("count_total"))
val table1 = more_50K_2.join(total_2,more_50K_2("workclass") ===  total_2("workclass2"),"inner").select(col("workclass"),col("count_>50K"),col("count_total"))  
val table2 = table1.withColumn("ratio (%)", round(col("count_>50K")/col("count_total")*100, 3)).sort(col("ratio (%)").desc) 
table2.show() 

val workclass: Array[String] = table2.select("workclass").limit(1).as[String].collect()

+----------------+----------+-----------+---------+
|       workclass|count_>50K|count_total|ratio (%)|
+----------------+----------+-----------+---------+
|    Self-emp-inc|       622|       1116|   55.735|
|     Federal-gov|       371|        960|   38.646|
|       Local-gov|       617|       2093|   29.479|
|Self-emp-not-inc|       724|       2541|   28.493|
|       State-gov|       353|       1298|   27.196|
|         Private|      4963|      22696|   21.867|
|                |       191|       1836|   10.403|
+----------------+----------+-----------+---------+

more_50K: org.apache.spark.sql.DataFrame = [workclass: string, count: bigint]
total: org.apache.spark.sql.DataFrame = [workclass: string, count: bigint]
more_50K_2: org.apache.spark.sql.DataFrame = [workclass: string, count_>50K: bigint]
total_2: org.apache.spark.sql.DataFrame = [workclass2: string, count_total: bigint]
table1: org.apache.spark.sql.DataFrame = [workclass: string, count_>50K: bigint ... 1 more field]
table2: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [workclass: string, count_>50K: bigint ... 2 more fields]
workclass: Array[String] = Array(Self-emp-inc)

In [16]:
println(s"On average, ${workclass(0)} is greater than 50K")

On average, Self-emp-inc is greater than 50K

# 7. Calculate average years of education for Non-American contributors.

In [15]:
dataset.toDF().select("nativeCountry","educationNum").where("nativeCountry != 'United-States'").agg(round(mean("educationNum"),3).alias("avg. years of education for Non-Americans contributors")).show()

+------------------------------------------------------+
|avg. years of education for Non-Americans contributors|
+------------------------------------------------------+
|                                                 9.317|
+------------------------------------------------------+